.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.config-button {
  margin: 2px;
}
.weather-list {
  transform: translateX(-3vh);
  text-align: center;
}

.weather-item {
  width: 30vh;
  text-align: center;
  margin: auto;
  border: gray;
}

.weather-description {
  border: solid;
  padding: 2px;
  border-width: 1px;
}

.day {
  font-weight: 600;
  font-size: 200%;
  margin-top: 10px;
  letter-spacing: 1px;
}

.date {
  font-weight: 600;
}

.icon {
  width: 100%;
}

.thumbnail {
  width: inherit;
  padding: 10px;
}

.description-block {
  display: flex;
}

.thumbnail-small {
  width: 90%;
  padding: 10px;
  transform: translateX(3vh);
}

.icon-small {
  width: 40%;
}

.temperature {
  padding-top: 8%;
  font-size: 25px;
}

.center-div {
  margin: 0 auto;
  width: 90%;
}

footer {
  bottom: 0;
  width: 100%;
}
